{% import "_includes/forms" as forms %}
{% set selectedSubnavItem = 'bulk-generation-history' %}
{% extends "_layouts/cp" %}

{% block content %}
        <style>
            .space-block {
                width: 100%;
                height: 20px;
            }
            .text-center {
                text-align: center;
            }
        </style>

        <h3>Bulk generation history page</h3>

        <div class="space-block"></div>
        <div class="tableview tablepane">
            <table class="data fullwidth">
                <thead>
                <tr>
                    <th class="text-center">Id</th>
                    <th class="text-center">Total count of images to generate</th>
                    <th class="text-center">Completed</th>
                    <th class="text-center">Successfully Generated</th>
                    <th class="text-center">Failed to Generate</th>
                    <th>Generation date</th>
                </tr>
                </thead>
                <tbody>
                {% for item in bulkGenerationItems %}
                    {% if item %}
                        <tr>
                            <td class="text-center">
                                {{ item.id }}
                            </td>
                            <td class="text-center">
                                {{ item.countOfImages }}
                            </td>
                            <td class="text-center">
                                {{ item.successfulCount + item.failedCount }}/{{ item.countOfImages }}
                                ({{ ((item.successfulCount + item.failedCount) / item.countOfImages * 100)|round(0, 'common') }}%)
                            </td>
                            <td class="text-center">
                                <a href="{{ url('alt-text-lab/history', { bulkId: item.id }) }}">
                                    {{ item.successfulCount }}</a>
                            </td>
                            <td class="text-center">
                                <a href="{{ url('alt-text-lab/log', { bulkId: item.id }) }}">
                                    {{ item.failedCount }}</a>
                            </td>
                            <td>
                                {{ item.dateCreated|date('Y-m-d H:i') }}
                            </td>
                        </tr> {% endif %}
                {% endfor %}
                </tbody>
            </table>
            {% include "alt-text-lab/includes/pagination-panel" %}
        </div>
    {% endblock %}
