{% set selectedSubnavItem = 'history' %}
{% extends "_layouts/cp" %}

{% block content %}
    <style>
        .space-block {
            width: 100%;
            height: 20px;
        }

        .refresh-link {
            text-decoration: underline;
            cursor: pointer !important;
        }

        .refresh-notification {
            color: rgba(169, 239, 169, 0.66);
            font-weight: bold;
        }

        .image-size {
            width: 75px;
            height: 75px;
        }

        .text-center {
            text-align: center;
        }

        .text-warning {
            color: #856404;
        }

        .text-muted-color{
            color: #6c757d;
        }

        .text-muted {
            cursor: not-allowed;
            text-decoration: none;
        }

        .alert {
            padding: 1rem;
            margin-bottom: 1rem;
            border-left: 4px solid #ccc;
            background: #f9f9f9;
            border-radius: 4px;
        }

        .alert-warning {
            border-color: #ffc107;
            background: #fff8e1;
        }
    </style>

    <h2>Generation history page</h2>

    {% set thumb = {
        mode: 'crop',
        width: 75,
        height: 75,
        quality: 75,
        position: 'top-center'
    } %}

    {% if totalCount == 0 %}
        <div class="alert alert-warning">
            No alt text has been generated for any assets yet. Once it's available, it will appear here.
        </div>
    {% else %}

        {% if thereIsWithoutURL %}
            {% include "alt-text-lab/includes/no-url-notofocation" %}
        {% endif %}

        <div class="space-block"></div>
        <div class="tableview tablepane">
            <table class="data fullwidth">
                <thead>
                <tr>
                    <th class="text-center">Id</th>
                    <th>Asset</th>
                    <th>Current alt text</th>
                    <th>Generated alt text</th>
                    <th class="text-center">Generation date</th>
                    <th class="text-center">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for asset in assets %}
                    <tr>
                        <td class="text-center">{{ asset.id }}</td>
                        <td>
                            {% if asset.assetId %}
                                {% set assetRow = craft.assets.id(asset.assetId).one() %}
                                {% if assetRow %}
                                    {% set imageUrl = assetRow.getUrl(thumb) ?? '' %}
                                    {% set editUrl = assetRow.cpEditUrl ?? '' %}

                                    {% if imageUrl %}
                                        <a href="{{ editUrl }}">
                                            <img src="{{ imageUrl }}" class="image-size" alt="{{ assetRow.alt }}" />
                                        </a>                                    {% elseif editUrl %}
                                        <a href="{{ editUrl }}">View asset</a>
                                    {% else %}
                                        <span class="text-muted text-muted-color">Asset not available</span>
                                    {% endif %}
                                {% else %}
                                    <span class="text-muted text-muted-color">No asset found</span>
                                {% endif %}

                            {% endif %}
                        </td>
                        <td>
                            {% if asset.isExistCurrentSelectedFieldInAsset %}
                                {{ asset.currentAltText }}
                            {% else %}
                                <span class="text-warning">Alt text field from setting not found in asset</span>
                            {% endif %}
                        </td>
                        <td>
                            {{ asset.generatedAltText }}
                        </td>
                        <td class="text-center">
                            {{ asset.dateCreated|date('Y-m-d H:i') }}
                        </td>
                        <td class="text-center">
                            {% if asset.isExistCurrentSelectedFieldInAsset %}
                                <a class="refresh-link" id="alt-btn-{{ asset.id }}"
                                   onclick="changeAltTextToSelected({{ asset.id }})">
                                    Use This alt
                                </a>
                            {% else %}
                                <span class="text-muted text-muted-color"
                                      title="Cannot apply: Alt text field not found">Unavailable</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% include "alt-text-lab/includes/pagination-panel" %}
        </div>
    {% endif %}
    <script>
        function changeAltTextToSelected(assetId) {
            const link = document.querySelector(`#alt-btn-` + assetId);
            if (link) {
                link.outerHTML = `<span class="refresh-notification">Added to queue</span>`;
            }
            fetch(Craft.getCpUrl('alt-text-lab/utility/change-asset-alt-text'), {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRF-Token': Craft.csrfTokenValue
                },
                body: JSON.stringify({assetId: assetId})
            }).catch(error => console.error(error));
        }
    </script>
{% endblock %}